# DATA VALT STUDIES

In [1]:
import pandas as pd
import requests

In [2]:
import psycopg2
from sqlalchemy import create_engine

In [3]:
driver = "org.postgresql.Driver"
url = "jdbc:postgresql://postgres:5432/beltrano_oltp"
table_name = 'estados'
db_user = 'postgres'
db_psw = 'postgres'

In [4]:
alchemyEngine   = create_engine('postgresql+psycopg2://postgres:postgres@postgres:5432/beltrano_oltp', pool_recycle=3600)
dbConnection    = alchemyEngine.connect();

In [5]:
estados = pd.read_sql_table(table_name, dbConnection)

In [6]:
estados

    estado_id  uf          estado_nome
0           0  XX        Não se aplica
1           1  AC                 Acre
2           2  AL              Alagoas
3           3  AM             Amazonas
4           4  AP                Amapá
5           5  BA                Bahia
6           6  CE                Ceará
7           7  DF     Distrito Federal
8           8  ES       Espírito Santo
9           9  GO                Goiás
10         10  MA             Maranhão
11         11  MG         Minas Gerais
12         12  MS   Mato Grosso do Sul
13         13  MT          Mato Grosso
14         14  PA                 Pará
15         15  PB              Paraíba
16         16  PE           Pernambuco
17         17  PI                Piauí
18         18  PR               Paraná
19         19  RJ       Rio de Janeiro
20         20  RN  Rio Grande do Norte
21         21  RO             Rondônia
22         22  RR              Roraima
23         23  RS    Rio Grande do Sul
24         24  SC       Santa Catarina
25         25  SE              Sergipe
26         26  SP            São Paulo
27         27  TO            Tocantins

## functions

In [6]:
def create_hashkey_column(df: pd.DataFrame, fields:list, hash_column_name:str) -> pd.DataFrame:
    df[hash_column_name] = df.apply(lambda x: sha256(str(tuple(x)).encode('utf8')).hexdigest(), axis = 1)
    return df

## pipelines

In [7]:
estados.pipe(create_hashkey_column, fields=['estado_id','uf','estado_nome'], hash_column_name = 'hash_column')
print('pipeline executed')

NameError: name 'sha256' is not defined

In [8]:
estados.sample(3)

    estado_id  uf estado_nome
21         21  RO    Rondônia
1           1  AC        Acre
15         15  PB     Paraíba

## Hub

![title](https://miro.medium.com/v2/resize:fit:496/format:webp/1*N6Ikz-6c6YMWoRy16C4lGw.png)

A tabela de hub é composta por 4 atributos, são eles:

BK (Business Key): É a chave primária da tabela;
LDTS (Load Date Time Stamp): Armazena a data e hora em que o registro foi inserido;
RSRC (Record Source): Descrição da fonte da chave de origem;
SBK (Source Business Key): É a chave de negócio da fonte de origem, como citado no exemplo anteriormente.
A tabela de Hub é feita incrementalmente, ou seja, só insere novas chaves a cada carga. Caso a chave de origem já exista no hub, ela será ignorada.